body {
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    background-color: grey;
    padding: 20px;
}

main {
    flex: 1;
}

#navbar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#navlist{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#navlist li {
    float: left;
}

#navlist a {
    display: block;
    color: black;
    padding: 0px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

#navlist a:hover{
    text-decoration: underline;
}

#headerHome {
    text-align: center;
    margin-top: 300px;
}

#welcomeText {
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: gray;
    padding: 20px;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

#footerIcon {
    margin: 0px 20px;
    font-size: 30px;
}